:root {
    --color-body-text-light: #171A1C;
    --color-primary-light: #417B66;
    --color-accent-1-light: #D7F7EB;
    --color-accent-2-light: #2E5DEF;
    --color-highlight-1-light: #F3F9FF;
    --color-highlight-2-light: #4D545C;
    --color-white: #FFFFFF;
}