.btn{
    padding: 8px 20px;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.btn--outline{
    background-color: transparent;
    color: #FFFFFF;
    padding: 8px 20px;
    border: 1px solid #FFFFFF;
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 5px;
}

.btn--large{
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 5px;
}

.btn--mobile{
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    color: #FFFFFF;
    padding: 14px 20px;
    border: 1px solid #FFFFFF;
    transition: all 0.3s ease-out;
}

.btn--wide{
    padding: 12px 64px;
    font-size: 20px;
    border-radius: 5px;
}

.btn--large:hover, .btn--medium:hover, .btn--mobile:hover{
    transition: all 0.3x ease-out;
    background: #FFFFFF;
    color: #242424;
}

.btn--wide:hover{
    color: #D7F7EB;
    background-color: #4D545C;
    transition: all 0.2x ease-out;
}

.primary{
    background-color: #417B66;
    color: #FFFFFF;
    border: none;
}

.primary:hover{
    background-color: #4D545C;
    color: #D7F7EB;
    border: none;
}

.btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
}