.token-card{
    color: #171A1C;
    padding: 25px 0;
}

.token-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
}

.token-row{
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

.token-col{
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.token-text-wrapper{
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.heading{
    margin-bottom: 18px;
    font-size: 44px;
    line-height: 1.1;
    font-weight: 600;
    color: #171A1C;
}

.token-subtitle{
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 24px;
}

.token-img-wrapper{
    max-width: 555px;
}

.token-img{
    max-width: 95%;
    padding-right: 0;
    margin: 0 0 0 10px;
}

.img{
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .container{
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .token-text-wrapper{
        padding-bottom: 65px;
    }

    .col{
        max-width: 100%;
        flex-basis: 100%;
    }
}