.main-alignment{
    text-align: center;
}

/* .about-container{
    position: relative;
} */

.gradiant-div{
    position: relative;
    /* width: 1440px; */
    height: 906px;
    /* left: 0px; */
    z-index: -999;
    background: linear-gradient(180deg, #D3DCFF 0%, #EEF7FF 100%);
}