.navbar {
    background: #FFFFFF;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 1rem 1.2rem 1rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    /* padding-bottom: 1rem; */
    padding: 1.2rem 1.2rem 1rem;
    border-bottom: 1px solid #979797;
  }

  .container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .navbar-logo {
    color: #FFFFFF;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    margin-right: 0.5rem;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
  }
   
  .nav-item :active{
      /* background: #D7F7EB; */
      color:cornflowerblue;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
  }
  
  .nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
  }
  
  .nav-links {
    color: #171A1C;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 2rem;
    height: 100%;
  }

/*.nav-item:hover {
    border-bottom: 2px solid ;
    color: #2E5DEF;
  } */
  .nav-links:hover{
    color: #2E5DEF;
  }
  
  .fa-bars {
    color: #417B66;
  }
  
  .menu-icon {
    display: none;
  }

  .nav-below {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1194px)  {
    
    /* .navbar-container{
      border: none;
    } */

    .nav-container{
      display: none;
    }
    .nav-menu{
      justify-content: space-around;
    }

    /* .navbar-container .navbar-logo{
      order: 1;
    }
    .navbar-container > button{
      order: 2;
    }
    .navbar-container > nav{
      display: none;
      order: 3;
    } */

    .nav-below{
      display: flex;
      justify-content: center;
    }


  }

  @media screen and (max-width: 767px) {
     .nav-container{
        display: none;
      }
      
      .nav-nft-button{
        display: none;
      }
      .nav-below{
        display: none;
      }
  }

  @media screen and (min-width:300px) and (max-width: 767px) {
     /* .nav-nft-button .nav-below .nav-container{
       display: none;
     } */
  }
  
  /* @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #D7F7EB;
      left: 0;
      opacity: 1;
      transition: all 0.6s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      color: #417B66;
      transform: scale(1.2);
      transition: all 0.3s ease;
    }
  
    .nav-item:hover {
      border: none;
    }
  
    .nav-item {
      width: 100%;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #417B66;
      font-size: 2rem;
    }
  
    .nav-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 120px;
    }
  } */