.bingmain{
    margin: 40px;
}
.container-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.community-container{
    max-width: 30%;
    text-align: left;
}

.community-container >h2{
    font-family: Josefin Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2.1875px;
    /* text-align: left; */
}

.bing-para{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 49px;
    letter-spacing: 1px;
    color: #000000;
    /* text-align: left; */
}

.community-para{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #171A1C;
}

.bing-line{
    width: 1px;
    height: 320px;
    margin-left: 4.6rem;
    background: #4D545C;
}

@media screen  and (max-width: 991px){
   .bing-line{
        margin: 3rem 0;
        height: 1px;
        width: 100%;
    }
    .container-row{
       flex-direction: column;
    }
    .community-container{
        max-width: 70%;
        text-align: left;
    }
}

