.main {
    background: #4D545C;
    height: 15rem; 
    color: white; 
    text-align: center;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container{
    margin-top: 30px;
}


/* .mint_container{
    width: 90wh ;
} */

.container > h2 {
    margin-top: 2.5rem ;
    margin-bottom: 2.5rem;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 3.125px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.details >h2{
    font-family: Lato;
    font-size: 3rem;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 2.8125px;
    text-align: center;
}

.details > span {
    margin-top: 20px;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.875px;
    text-align: center;
}

@media screen and (max-width: 767px){
    .main{
        /* min-height:fit-content; */
        height: 35rem;
    }
    .row{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .details{
        margin: 1rem 0 1rem 0;
    }
}