.titleCard{
    display:flex;
    flex-wrap: wrap;
    padding: 1rem 1.2rem 1rem;
}

.title-container{
    display: flex;
    flex-direction: row;
    margin: 1rem 1.2rem 1rem;
    padding: 1rem 1.2rem 1rem;
    max-width: 90%;
    justify-content: space-around;
}

.titlecard-col{
    display: flex;
    flex-direction: column;
    max-width: 45%;
}

.titlecard-button{
    background: #417B66;
    color: white;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 0.7rem 1.2rem;
    border-radius: 6px;
    border: 1px solid white;
}

.titlecard-button:hover{
    background: #3F3F3F;
}

.titlecard-desktop-content{
    max-width: 60%;
    text-align: left;
    margin: 1rem 0 0 3rem;
    padding-left: 2rem;
    align-items: center;
}

.titlecard-heading{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2rem;
    /* identical to box height */
    letter-spacing: 3.125px;
    color: #171A1C;
}

.titlecard-desktop-content >p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #3F3F3F;
}

.titlecard-desktop-para{
    margin: 2rem auto;
}



.ipad-content{
    display: none;
}

.titlecard-img{
    display: block;
    max-width: 35rem;
    max-height: 35rem;
}

.titlecard-button{
    margin: 1rem 0 0 5rem;
    float: left;
}


.title-row{
    align-items: center;
}

.titlecard-col-mobile{
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1194px)  {
    .titlecard-desktop-content{
        display: none;
    }

    .ipad-content{
        display: flex;
        flex-direction: column;
        max-width: 85%;
        text-align: left;
        margin: 1rem 0 0 1rem;
    }

    .ipad-content >p{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 1px;
        color: #3F3F3F;
        margin: 2rem 0 0 0 ;
    }

    .ipad-content-span{
        color: #4fbd95 !important;
        font-family: 'Lato'!important;
        font-style: normal;
        font-weight: 800;
        font-size: 20x;
        line-height: 25px;
        letter-spacing: 1px;
        text-decoration-line: underline;
        margin: 4px;

    }

    .titlecard-button{
        margin: 1rem 0 0 1rem;
    }

}

@media  screen and (max-width: 767px) {
    .title-container{
        flex-direction: column;
    }

    .titlecard-desktop-content{
        display: none;
    }

    .titlecard-col{
        display: none;
    }

    .titlecard-col-mobile{
        display: block;
    }

    .titlecard-img{
        width: 20rem;
        height: 20rem;
    }

    .titlecard-col{
        align-items: center;
        justify-content: center;
    }

    .ipad-content{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        text-align: left;
        margin: 1rem 0 1rem 0 ;
    }

    .titlecard-heading{
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 3.125px;
    }

    .ipad-content >p{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 1px;
        color: #3F3F3F;
        margin: 2rem 0 0 0 ;
    }

    .titlecard-button{
        margin: auto;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}